* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Body Background */
body {
    background-color: rgb(205, 204, 206);
    color: #333;
}

/* Navbar Styling */
.navbar {
    width: 100vw;
    background-color: rgb(50, 50, 50);
    padding: 15px 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    padding: 8px 16px;
}

.navbar a:hover {
    background-color: #dbd8db;
    color: #282728;
    border-radius: 5px;
    transition: 0.3s ease;
}

/* Main Section Styling */
main {
    text-align: center;
    padding: 40px 20px;
}

main h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

main p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

/* Image Styling */
.portimg {
    width: 250px;
    height: auto;
    border-radius: 12px;
    margin-top: 20px;
}

.about-card img{
    width: 250px;
    height: auto;
    border-radius: 12px;
    margin-top: 20px;
}

/* removing bullets */
ul {
    list-style: none;
}

/* Contact Form Styling */
form {
    margin: 30px auto;
    width: 40%;
    padding: 30px;
    background-color: #7a7a7a;
    color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 1em;

}

form label {
    display: block;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #efeeee;
}

form button {
    background-color: #3a2c39;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

form button:hover {
    background-color: #dbd8db;
    color: #282728;
    transition: 0.3s ease;
}


/* Responsive Media Query */
@media (max-width: 600px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .portimg {
        width: 80%;
    }

    form {
        width: 90%;
        padding: 20px;
    }
}